.component
{
  border-radius: 38px;
  text-align: center;
  margin: auto;
  padding: 16px;
  background-color: #0b0d21;
  color: white;
  width: 90%;
  max-width: 420px;
}

.app
{
  background-image: url(/sfsites/c/resource/BmiAppBackground);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h1
{
  font-size: 36px;
  padding: 20px 0;
  font-weight: bold;
}

h2
{
  color: #e91e63;
  font-size: 26px;
}

label
{
  font-size: 16px;
  color: white;
}

.info
{
  background: #1d1e33;
  text-align: center;
  padding: 16px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  font-size: 14px;
}

input
{
  color: #1d1e33;
  padding: 8px;
  font-size: 16px;
}

button
{
  font-size: 16px;
  padding: 12px;
  background: #e91e63;
  color: white;
  border-color: #e91e63;
}

.res-value
{
  color: #4f7df9;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  label {
    font-size: 15px;
  }
  .res-value {
    font-size: 24px;
  }
}